[submodule "plugins/alembic-codex"]
	path = plugins/alembic-codex
	url = https://github.com/GxFn/AlembicCodex.git
[submodule "vendor/AlembicCore"]
	path = vendor/AlembicCore
	url = https://github.com/GxFn/AlembicCore.git
